.main__image {
    margin-top: 25px;
}

.main__heading {
    font-size: 36px;
}

.main__paragraph {
    font-size: 14px;
    color: grey;
}

a {
    color: white;
    list-style: none;
    text-decoration: none;
}

.arrow--svg {
    position: absolute;
    left: 26%;
    top: 39%;
    fill: currentColor;
}


@media(min-width:1000px) {
    .main {
        display: flex;
        flex-direction: row;
        margin-top: 221px;
    }.main__image {
        margin-left: 86px;
    }.main__article {
        margin-left: 77px;

    }.heading__button {
        margin-left: 77px;
        margin-top: 42px;
    }.main__paragraph {
        font-size: 24px;
        margin-right: 158px;
        margin-top: 40px;
    }.arrow--svg {
        position: absolute;
        left: 12%;
        top: 97%; 
    }

}


