@media(min-width:1000px) {
    .main {
        display: flex;
        flex-direction: row;
        margin-top: 221px;
    }.main__image {
        margin-left: 86px;
    }.main__article {
        margin-left: 77px;
    }.heading__button {
        margin-left: 77px;
        margin-top: 42px;
    }

}