@font-face {
  font-family: "Lora-bold";
  src: local("Lora-bold-Regular"), local("Lora-bold Regular"), local("Lora-bold-Bold"), local("Lora-bold Bold"), url("../fonts/Lora-bold_400.woff2"), url("../fonts/Lora-bold_400.woff"), url("../fonts/Lora-bold_700.woff2"), url("../fonts/Lora-bold_700.woff"); }

@font-face {
  font-family: "Lora-Regular";
  src: local("Lora-Regular-Regular"), local("Lora-Regular Regular"), local("Lora-Regular-Bold"), local("Lora-Regular Bold"), url("../fonts/Lora-Regular_400.woff2"), url("../fonts/Lora-Regular_400.woff"), url("../fonts/Lora-Regular_700.woff2"), url("../fonts/Lora-Regular_700.woff"); }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  margin: 0;
  margin-left: 12px;
  margin-right: 13px;
  background: #181719;
  color: white; }

span {
  visibility: hidden; }

img {
  width: 100%; }

button {
  padding-left: 8px;
  padding-right: 9px;
  padding-top: 8px;
  padding-bottom: 7px;
  margin-top: 19px;
  text-transform: uppercase; }

.nav__list {
  list-style: none; }

.nav__item {
  display: inline-block; }

.nav__link {
  text-decoration: none;
  color: white;
  text-transform: lowercase;
  font-size: 16px;
  display: block;
  margin-top: 32px; }

body > nav {
  background-color: #f8f8f8;
  bottom: 20px;
  width: 250px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-110%); }

body > [type="checkbox"]:checked ~ div > nav > .nav__list {
  transform: translateX(0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 120%;
  width: 100%;
  background: black; }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

body > nav > h2 {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 1rem;
  height: 1rem; }

body > nav > h2 > label {
  width: 1rem;
  height: 1rem;
  display: block;
  background-image: url(../webroot/images/menu.png);
  background-size: 1rem;
  background-repeat: no-repeat; }

body > nav > ul {
  list-style: none; }

body > nav .link {
  background-position: 1rem 50%; }

body > nav > ul a:hover {
  opacity: 1; }

#menu_checkbox {
  position: absolute;
  left: 90%;
  top: 5%; }

@media (min-width: 1000px) {
  .nav__list {
    position: absolute;
    top: 0;
    left: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
  .nav__link {
    background-image: none;
    line-height: 1.25rem;
    color: black;
    font-size: 18px;
    margin-left: 60px;
    color: white; }
  #menu_checkbox {
    display: none; } }

.link_menu {
  display: none; }

body > nav > ul a {
  text-transform: lowercase; }

@media (min-width: 1000px) {
  .main {
    display: flex;
    flex-direction: row;
    margin-top: 221px; }
  .main__image {
    margin-left: 86px; }
  .main__article {
    margin-left: 77px; }
  .heading__button {
    margin-left: 77px;
    margin-top: 42px; } }

.user {
  background-color: #181719;
  padding-left: 19px;
  padding-right: 71px;
  padding-top: 16px;
  padding-bottom: 25px;
  position: absolute;
  top: 70%;
  left: 8%; }
  .user__list {
    list-style: none;
    margin-left: 2rem;
    margin-top: 16px; }
  .user__position {
    color: #828282; }
  .user__img {
    width: 20%;
    position: absolute;
    top: 13%;
    left: 0%;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: -10px; }
  .user__posted-date {
    margin-top: 21px;
    font-size: 18px; }

@media (min-width: 1000px) {
  .user {
    position: absolute;
    top: 120%;
    left: 60%;
    padding-top: 23px; }
    .user__posted-date {
      font-size: 24px;
      margin-top: 30px;
      margin-left: 97px; }
    .user__list {
      margin-left: 75px; } }

footer {
  margin-top: 59px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 75px;
  color: #A9A9A9; }
